.ml8 {
    margin-left: 8px;
}
/* toggle */
.switch_toggle {
    position: relative;
    display: inline-block;
    width: 39px;
    height: 24px;
}
.switch_toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch_toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #D9D9D9;
    transition: .4s;
    border-radius: 12px;
}
.switch_toggle .slider:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 2px;
    top: 2px;
    background: #FFFFFF;
    border-radius: 12px;
    transition: .4s;
}
.switch_toggle input:checked + .slider {
    background: #EB3728;
}
.switch_toggle input:checked + .slider:before {
    transform: translateX(15px);
}
/* board select */
.box_selected {
    overflow: hidden;
    position: relative;    
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
}
.box_selected.default {
    width: 141px;
}
.box_selected select {
    position: relative;
    z-index: 5;
    padding-left: 14px;
    padding-right: 48px;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #333;
    background: transparent;
}
.box_selected option:focus {
    background: #ff0;
}
.box_selected:after {
    position: absolute;
    content: "";
    width: 12px;
    height: 8px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1.52227L11.4777 -1.51234e-07L6.52227 4.94467L1.5668 -1.13586e-06L0.0445345 1.52227L6.52227 8L13 1.52227Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 16px;
    right: 14px;
}
.wrap_check {
    position: relative;
}
.wrap_check input {
    position: absolute;
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
    clip: rect(0,0,0,0);
}
.wrap_check label {
    position: relative;
    display: inline-block;
    padding-left: 23px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #999999;
    cursor: pointer;
}
/* board input:textbox */
.wrap_check input + label::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    top: 3px;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='11' height='11' rx='1.5' fill='white' stroke='%23CCCCCC'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.wrap_check input:checked + label::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    top: 3px;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='12' rx='2' fill='%23EB3728'/%3E%3Cpath d='M9.50002 3.90002L5.18752 8.10002L2.90002 5.70002' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0 0;
}
/* board input:text */
.input_board {
    width: 100%;
    height: 40px;
    padding: 0 14px 0;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #333333;
}
.input_board::placeholder {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #B5B5B5;
}
.input_board:focus {
    outline: none;
}
.btn_search {
    width: 58px;
    background: #EB3728;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
    cursor: pointer;
}
.btn_search_member {
    width: 58px;
    border: 1px solid #EB3728;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Spoqa Han Sans Neo;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #EB3728;
}
.title_board {
    display: block;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #333;
}
/* pop */
.btn_pop {
    width: 146px;
    height: 48px;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    cursor: pointer;
}
.btn_pop.btn_red {
    background: #EB3728;
    border: 1px solid #EB3728;
    border-radius: 8px;
    color: #FFFFFF;
}
.btn_pop.btn_white {
    background: #fff;
    border: 1px solid #B5B5B5;
    border-radius: 8px;
    color: #333;
}
.box_radio {
    position: relative;
}
.box_radio input {
    position: absolute;
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
    clip: rect(0,0,0,0);   
}
.box_radio label {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    cursor: pointer;
}
.box_radio input + label::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='10' fill='white' stroke='%23D9D9D9' stroke-width='2'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 0;
    left: 0;
}
.box_radio input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='10' fill='white' stroke='%23EB3728' stroke-width='2'/%3E%3Ccircle cx='11' cy='11' r='5' fill='%23EB3728'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.btn_enroll {
    width: 120px;
    height: 32px;
    border: 1px solid #EB3728;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #EB3728;
    cursor: pointer;
}
.btn_trash {
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 5H4.16667H17.5' stroke='%23B5B5B5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.6665 5V3.33333C6.6665 2.8913 6.8421 2.46738 7.15466 2.15482C7.46722 1.84226 7.89114 1.66666 8.33317 1.66666H11.6665C12.1085 1.66666 12.5325 1.84226 12.845 2.15482C13.1576 2.46738 13.3332 2.8913 13.3332 3.33333V5M15.8332 5V16.6667C15.8332 17.1087 15.6576 17.5326 15.345 17.8452C15.0325 18.1577 14.6085 18.3333 14.1665 18.3333H5.83317C5.39114 18.3333 4.96722 18.1577 4.65466 17.8452C4.3421 17.5326 4.1665 17.1087 4.1665 16.6667V5H15.8332Z' stroke='%23B5B5B5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.3335 9.16666V14.1667' stroke='%23B5B5B5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.6665 9.16666V14.1667' stroke='%23B5B5B5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0 0;
    text-indent: -99999px;
    cursor: pointer;
}
.Wrap_pagination {
    margin-top: 25px;
}
.box_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_pagination .btn_arrow, .box_pagination .num {
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
}
.box_pagination .num {
    width: 30px;
    height: 30px;
    margin-left: 8px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #B5B5B5;
}
.box_pagination .num.active {
    font-weight: 700;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333333;
}
.box_pagination .num:last-child {
    margin-left: 0;
}
.box_pagination .btn_prev {
    margin-right: 20px;
}
.box_pagination .btn_next {
    margin-left: 20px;
}
.wrap_select {
    position: relative;
}
.wrap_select.default {
    width: 150px;
}
.wrap_select .btn_select {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0 14px 0;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #333;
    text-align: left;
}
.wrap_select .btn_select:after {
    content: "";
    position: absolute;
    width: 13px;
    height: 8px;
    top: 16px;
    right: 13px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1.52227L11.4777 -1.51234e-07L6.52227 4.94467L1.5668 -1.13586e-06L0.0445345 1.52227L6.52227 8L13 1.52227Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.wrap_select .btn_select.active:after {
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-3.04994e-05 6.47773L1.52224 8L6.4777 3.05533L11.4332 8L12.9554 6.47773L6.4777 7.72462e-08L-3.04994e-05 6.47773Z' fill='%23333333'/%3E%3C/svg%3E%0A");
}
.list_select {
    overflow: hidden;
    max-height: 0;
    z-index: 10;
    position: absolute;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 100%;
    background: #fff;
    top: 40px;
}
.list_select li .link {
    display: block;
    padding: 11px 16px 9px;
    background: #fff;
    text-align: left;
    box-sizing: border-box;
    font-family: "Spoqa Han Sans Neo";
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
}
.list_select li .link:hover {
    background: #EB3728;
    color: #fff;
}
.btn_select.active + .list_select {
    max-height: 500px;
}
.title_window {
    font-family: Spoqa Han Sans Neo;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #333333;
}
.btn_window_white {
    width: 87px;
    height: 40px;
    border: 1px solid #B5B5B5;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #333333;
}
.btn_window_red {
    width: 80px;
    height: 40px;
    background: #EB3728;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

/* date picker */
.ui-datepicker {
    display: none;
    width: 200px;
    padding: 14px 16px 14px;
    border-radius: 6px;
    background: #eee;
}
.ui-datepicker-header {
    position: relative;
    width: 100%;
}
.ui-datepicker-prev {
    position: absolute;
    width: 8px;
    height: 13px;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.47773 12.9555L8 11.4332L3.05533 6.47774L8 1.52228L6.47773 9.40366e-06L5.66301e-07 6.47774L6.47773 12.9555Z' fill='%23333333'/%3E%3C/svg%3E");
    top: 5px;
    left: 0;
    text-indent: -9999px;
}
.ui-datepicker-prev.ui-state-disabled {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.47773 12.9554L8 11.4332L3.05533 6.47771L8 1.52225L6.47773 -2.11139e-05L5.66301e-07 6.47771L6.47773 12.9554Z' fill='%23B5B5B5'/%3E%3C/svg%3E");
}
.ui-datepicker-next {
    position: absolute;
    width: 8px;
    height: 13px;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.52227 0L0 1.52227L4.94467 6.47773L0 11.4332L1.52227 12.9555L8 6.47773L1.52227 0Z' fill='%23333333'/%3E%3C/svg%3E");    
    top: 5px;
    right: 0;
    text-indent: -9999px;
}
.ui-datepicker-next.ui-state-disabled {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.52227 0L0 1.52227L4.94467 6.47773L0 11.4332L1.52227 12.9555L8 6.47773L1.52227 0Z' fill='%23B5B5B5'/%3E%3Ctitle%3E다음%3C/title%3E%3C/svg%3E");
}
.ui-datepicker-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ui-datepicker-month {
    width: 70px;
    height: 24px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 13px;
    color: #333;
}
.ui-datepicker-year {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 13px;
    color: #333;
}
.ui-datepicker-calendar {
    width: 100%;
    margin-top: 8px;
}
.ui-datepicker-calendar th {
    padding: 6px 0 6px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 700;
    font-size: 13px;
    color: #333;
    text-align: center;
}
.ui-datepicker-calendar td {
    padding: 3px 0 3px;
    text-align: center;
}
.ui-datepicker-calendar td a, .ui-datepicker-calendar td span {
    display: inline-block;
    width: 90%;
    height: 26px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 700;
    font-size: 13px;
    color: #333;
    line-height: 26px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.ui-datepicker-calendar td a {
    background: #fff;
}
.ui-datepicker-calendar td span {
    background: #f2f2f2;
}
.ui-state-disabled {
    cursor: default !important;
    pointer-events: none;
}

.wrap_window_input {
    position: relative;
}
.wrap_window_input.left input {
    text-align: left;
}
.wrap_window_input.center input {
    text-align: center;
    padding: 0;
}
.wrap_window_input.count input {
    padding-right: 72px;
}
.wrap_window_input input {
    width: 100%;
    height: 40px;
    padding-left: 12px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}
.wrap_window_input input::placeholder {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #B5B5B5;
}
.wrap_window_input .box_count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 15px;
}
.wrap_window_input .box_count .text_count {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #B5B5B5;
}
.wrap_window_input .box_count .text_slash, .wrap_window_input .box_count .text_total {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #808080;
}
.wrap_radio_pair {
    position: relative;
    display: flex;
}
.wrap_radio_pair input {
    position: absolute;
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
    clip: rect(0,0,0,0);
}
.wrap_radio_pair label {
    display: block;
    width: 120px;
    height: 40px;
    background: #FFFFFF;
    box-sizing: border-box;
    text-align: center;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #666666;
}

.wrap_radio_pair .left {
    border-radius: 4px 0px 0px 4px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}
.wrap_radio_pair .right {
    
    border-radius: 0px 4px 4px 0px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid rgba(0,0,0,0);
}
.wrap_radio_pair input:checked + label {
    color: #333333;
}
.wrap_radio_pair input:checked + label {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}
.wrap_image {
    position: relative;
}
.wrap_image input {
    position: absolute;
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
    clip: rect(0,0,0,0);
}
.wrap_image .wrap_label.default {
    width: 96px;
}
.wrap_image label {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #B5B5B5;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: #666666;
}
.wrap_files {
    display: flex;
    align-items: flex-start;
}
.wrap_files .preview_images {
    overflow: hidden;
    flex: none;
    width: 140px;
    height: 140px;
}
.wrap_files .preview_images img {
    width: 100%;
}
.wrap_files .default_img {
    width: 100%;
    height: 100%;
    background: #ccc;
}
.wrap_files .box_input_files {
    position: relative;
    height: 140px;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}
.wrap_files .box_input_files .text_red {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #EB3728;
}
.wrap_files .box_input_files .text_red + .text_red {
    margin-top: 8px;
}
.wrap_files .box_input_files .text_gray {
    margin-top: 8px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #808080;
}
.wrap_files .box_input_files input {
    position: absolute;
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
    clip: rect(0,0,0,0);
}
.wrap_files .box_input_files .label_img {
    display: block;
    width: 96px;
    height: 40px;    
    border: 1px solid #B5B5B5;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: #666666;
    left: 0;
    bottom: 0;
}
.dim {
    /* display: flex; */
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    top: 0;
    left: 0;
}
.wrap_pop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.pop {
    flex: none;
    width: 800px;
    height: 572px;
    border-radius: 8px;
    background: #f1f1f1;
    opacity: 1;
}
.pop_inner {
    width: 744px;
    margin: 0 auto;
}
.pop_inner:after {
    content:"";
    display:block;
    width:0;
    height:0;
    overflow:hidden;
    clear:both;
}
.pop_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0 8px;
}
.pop_header .box_left {
    flex:none;
}
.pop_header .box_right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.input_only {
    position: relative;
    display: inline-block;
}
.input_only input {
    position: absolute;
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
    clip: rect(0,0,0,0);
}
.input_only input + label {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-top: 6px;
    text-indent: -9999px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='11' height='11' rx='1.5' fill='white' stroke='%23CCCCCC'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.input_only input:checked + label {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='12' rx='2' fill='%23EB3728'/%3E%3Cpath d='M9.50039 3.9L5.18789 8.1L2.90039 5.7' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.btn_csv_down {
    display: block;
    width: 120px;    
    border: 1px solid #B5B5B5;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #333333;
}
.wrap_select_window {
    overflow: hidden;
    position: relative;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
}
.wrap_select_window select {
    position: relative;
    z-index: 5;
    padding-left: 14px;
    padding-right: 48px;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #666;
    background: transparent;
}
.wrap_select_window::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 8px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1.52227L11.4777 -1.51234e-07L6.52227 4.94467L1.5668 -1.13586e-06L0.0445345 1.52227L6.52227 8L13 1.52227Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 16px;
    right: 14px;
}
.wrap_memo {
    position: relative;
}
.wrap_memo textarea {
    width: 100%;
    height: 200px;
    padding: 12px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    resize: none;
    box-sizing: border-box;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}
.wrap_memo textarea::placeholder {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #B5B5B5;
}
.wrap_memo textarea:focus {
    outline: none;
}
.wrap_memo .box_count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: auto;
    bottom: 12px;
    right: 12px;
}
.wrap_memo .text_count {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #B5B5B5;
}
.wrap_memo .text_slash, .wrap_memo .text_total {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #808080;
}
.btn_enroll_broad {
    width: 139px;
    height: 40px;
    background: #EB3728;
    border-radius: 4px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.empty  + .text_alert  {
    display: block;
}
.text_alert {
    display: none;
    position: absolute;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #EB3728;
    bottom: -17px;
    left: 0;
}
.input_board.empty {
    border: 1px solid #EB3728;
}