.body {
    min-height: 100vh;
    background: #eee;
}
.inner {
    width: 1280px;
    margin:auto; 
    position:relative;
    background: #fff;
}
.inner:after {
    content:"";
    display:block;
    width:0;
    height:0;
    overflow:hidden;
    clear:both;
}
.clearFix:after {
    content:"";
    display:block;
    width:0;
    height:0;
    overflow:hidden;
    clear:both;
}
ul:after,ol:after,dl:after {
    content:"";
    display:block;
    width:0;
    height:0;
    overflow:hidden;
    clear:both;
}

.header {
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 64px;
    border-bottom: 1px solid #D9D9D9;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background: #fff;
}
.header .wrap_logos {
    float: left;
    font-size: 0;
    text-align: left;
}
.header .wrap_logos .logo {
    display: inline-block;
    padding-left: 10px;
    margin-top: 18px;
    vertical-align: top;
}
.header .wrap_logos .list_navi {
    display: inline-block;
    margin-top: 26px;
    margin-left: 41px;
    font-size: 0;
    text-align:left;
    vertical-align: top;
}
.header .wrap_logos .list_navi .item_navi {
    position: relative;
    display: inline-block;
}
.header .wrap_logos .item_navi .title {
    display: block;
    width: 120px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #999999;
}
.header .wrap_logos .item_navi.active .title,
.header .wrap_logos .item_navi .title:hover {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 700;
    color: #333333;
}
.header .list_members {
    float: right;
    margin-top: 23px;
    font-size: 0;
}
.header .item_members {
    display: inline-block;
    margin-left: 16px;
    vertical-align: top;
}
.header .item_members .text {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}
.header .item_members .text.underline {
    text-decoration: underline;
}
.wrap_twodepth {
    overflow: hidden;
    z-index: 5;
    position: absolute;
    width: calc(100% + 2px);
    height: 0;
    padding-top: 20px;
    left: 0;
    top: 20px;
}
.list_twodepth {
    width: 120px;
    margin: 0 auto;
    padding: 14px 0 14px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 10px 10px;
}
.list_twodepth .text {
    display: block;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #666;
}
.list_twodepth .text.active, .list_twodepth .text:hover {
    color: #EB3728;
    text-decoration: underline;
}
.list_twodepth .item_twodepth + .item_twodepth {
    margin-top: 26px;
}
.wrap_main {
    width: 100%;
    height: 1024px;
    padding-top: 80px;
    background: #eee;
    box-sizing: border-box;
}
.wrap_main .main {
    position: relative;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
}
.main .box_cont {
    padding: 30px 40px 35px;
}
.tab_inner {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 40px 0;
    box-sizing: border-box;
}
.tab_inner:after {
    content:"";
    display:block;
    width:0;
    height:0;
    overflow:hidden;
    clear:both;
}
.wrap_window_header {
    padding-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
}
.wrap_window_title {
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box_title {
    padding-left: 21px;
}
.box_btns {
    display: flex;
    padding-right: 20px;
}
.wrap_window_title .box_save {
    margin-left: 16px;
}
.wrap_window_cont {
    margin-top: 26px;
}
.wrap_window_cont table {
    table-layout: fixed;
    width: 100%;
}
.wrap_window_cont table th, .wrap_window_cont table td {
    vertical-align: middle;
}
.wrap_window_cont table .title {
    padding-left: 13px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #808080;
}
.wrap_window_cont table .astrix {
    color: #EB3728;
}
.wrap_window_cont table td {
    padding: 14px 0 14px;
}
.wrap_window_desc {
    margin-top: 48px;
    padding-top: 48px;
    border-top: 4px solid #eee;
}
.wrap_window_desc.last {
    padding-bottom: 67px;
}
.wrap_daum_code {
    overflow: hidden;
    display:none;
    border:1px solid #ccc;
    width:500px;
    height:300px;
    margin:5px 0;
    position:relative;
    border-radius: 6px;
}
.btn_close {
    cursor:pointer;
    position:absolute;
    right:0px;
    top:-1px;
    z-index:5;
}
.wrap_info_pop {
    z-index: 10;
    display: none;
    position: absolute;
    width: 360px;
    padding: 10px 12px 10px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    top: 19px;
    left: 4px;
}
.wrap_info_pop .text_bold {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    color: #333333;
}
.wrap_info_pop .box_desc_text {
    margin-top: 19px;
}
.wrap_info_pop .box_desc_text .text {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    color: #999999;
    text-indent: -8px;
    padding-left: 8px;
}
.wrap_info_pop .btn_close_info {
    position: absolute;
    top: 10px;
    right: 10px;
}