/* log in */
.wrap_login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.wrap_login .box_text {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
}
.wrap_login .box_text .logo {
    margin-left: 7px;
}
.wrap_login .box_desc {
    margin-top: 35px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
}
.wrap_login .box_desc .text_title {
    margin-left: 8px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #000000;
}
.wrap_login .box_desc .text_desc {
    margin-top: 14px;
    margin-left: 7px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
}
.wrap_inputs {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 118px;
}
.box_inputs {
    display: flex;
    justify-content: left;
    align-content: flex-start;
    flex-direction: column;
}
.box_inputs .box_input {
    flex: none;
    font-size: 0;
    text-align: left;
}
.box_inputs .box_input + .box_input {
    margin-top: 10px;
}
.box_inputs .box_input .text_title {
    display: inline-block;
    width: 65px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 700;
    font-size: 13px;
    line-height: 1;
    color: #EB3728;
}
.input_login {
    display: inline-block;
    width: 218px;
    height: 35px;
    padding: 11px 12px 9px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 2px;
}
.input_login::placeholder {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #B5B5B5;
}
.input_login:focus {
    outline: none;
}
.btn_login {
    width: 104px;
    margin-left: 15px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 700;
    font-size: 18px;
    line-height: 82px;
    color: #FFFFFF;
    background: #EB3728;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
}
.wrap_chk {
    margin-top: 11px;
    margin-left: 65px;
}
.wrap_chk input {
    position: absolute;
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
    clip: rect(0,0,0,0);
}
.wrap_chk label {
    position: relative;
    display: inline-block;
    padding-left: 18px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #999999;
}
.wrap_chk input + label::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    top: 1px;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='11' height='11' rx='1.5' fill='white' stroke='%23CCCCCC'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.wrap_chk input:checked + label::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    top: 1px;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='12' rx='2' fill='%23EB3728'/%3E%3Cpath d='M9.50002 3.90002L5.18752 8.10002L2.90002 5.70002' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.wrap_infos {
    margin-top: 33px;
    font-size: 0;
    text-align: left;
}
.wrap_infos a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #808080;
    margin-left: 8px;
    padding-left: 9px;
}
.wrap_infos a:first-child {
    margin-left: 0;
    padding-left: 0;
}
.wrap_infos a:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 8px;
    background: #D9D9D9;
    left: 0px;
    top: 3px;
}
.wrap_infos a:first-child:after {
    content: none;
}
.wrap_img {
    position: relative;
    margin-left: -6px;
    top: -9px;
}
.wrap_login .box_right {
    position: relative;
    width: 418px;
    height: 384px;
    background-image: url("../images/login/log_img.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.text_copyrights {
    margin-top: 40px;
    padding-right: 27px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    text-align: right;
    letter-spacing: -0.25px;
    color: #999999;
    box-sizing: border-box;
}
.text_copyrights span {
    font-weight: 700;
}