/* table list common */
.wrap_list {
    margin-top: 20px;
}
.wrap_list .wrap_table {    
    width: 1200px;
    height: 706px;
    margin: auto;
}
.wrap_list .wrap_table.members {
    height: 640px;
}
.wrap_list .wrap_table.overflow_x {
    overflow-x: scroll;
}
.wrap_list .wrap_table.overflow_y {
    overflow-y: scroll;
}
.wrap_list .wrap_table table {
    table-layout: fixed;
    width: 100%;
}
.wrap_list .wrap_table th {
    height: 39px;
    border-bottom: 2px solid #E2E2E2;
    text-align: center;
    vertical-align: middle;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #B5B5B5;
    background: #FAFAFA;
}

.wrap_list .wrap_table td {    
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #E2E2E2;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #333333;
}
.wrap_list .wrap_table td.red_underline {
    text-decoration-line: underline;
    color: #EB3728;
    cursor: pointer;
}
/* table list type1 : products*/
.wrap_list .wrap_table.product td {
    padding: 3px 0 3px;
}
/* table list type2 : members*/
.wrap_list .wrap_table.members td {
    padding: 10px 0 10px;
}

/* form 검색, select */
.wrap_title_board {
    display: flex;
}
.wrap_title_board .wrap_info_icon {
    position: relative;
    margin-left: 2.5px;
}
.wrap_title_board .wrap_info_icon svg {
    cursor: pointer;
}
.wrap_title_board .wrap_info_icon + .title_board {
    margin-left: 10.5px;
}
.wrap_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
}
.wrap_board {
    margin-top: 12px;
}
.wrap_board .box_borad {
    display: flex;
    justify-content: flex-start;
}
.wrap_board .box_left {
    float: left;    
}
.wrap_board .box_right {
    float: right;
}
.wrap_select.broad {
    width: 153px;
}
.wrap_select.category {
    width: 193px;
}
.wrap_select.search {
    width: 120px;
}
.box_select + .box_select {
    margin-left: 8px;
}
.wrap_input.search {
    width: 330px;
}
.wrap_select.shortcut {
    width: 153px;
}
.wrap_select.member {
    width: 120px;
}
/* date picker */
.text_picker {
    width: 105px;
    height: 40px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #333;
    text-align: center;
}
.wrap_window_cont .wrap_times {
    display: flex;
    align-items: center;
}
.wrap_window_cont .wrap_times .text_desc {
    margin-left: 24px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #808080;
}
.wrap_window_cont .wrap_window_input {
    flex: none;
}
.wrap_window_cont .wrap_window_input.year {
    width: 108px;
}
.wrap_window_cont .wrap_window_input.hour {
    width: 44px;
    margin-left: 12px;
}
.wrap_window_cont .text_col {
    margin: 0 8px 0;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}
.wrap_window_cont .wrap_window_input.min {
    width: 44px;
}
.box_selected.window {
    width: 269px;
}
.wrap_window_input.run {
    width: 53px;
}
.box_selected.popup {
    width: 92px;
}
.wrap_input.popup {
    width: 334px;
    margin-left: 8px;
}
.box_search_btn {
    margin-left: 8px;
}
.pop_cont {
    margin-top: 28px;
}
.wrap_pop_list {
    overflow-y: scroll;
    width: 100%;
    height: 364px;
}
.wrap_pop_list table {
    table-layout: fixed;
    width: 100%;
}
.wrap_pop_list table th, td {    
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
}
.wrap_pop_list table th {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #B5B5B5;
    border-bottom: 2px solid #E2E2E2;
}
.wrap_pop_list table td {
    font-family: "Spoqa Han Sans Neo";
    font-size: 15px;
    line-height: 19px;
    color: #333;
    border-bottom: 1px solid #E2E2E2;
}
.wrap_pop_list table td.discount {
    font-weight: 700;
}
.wrap_pop_list table td.origin {
    color: #B5B5B5;
}
.wrap_pop .wrap_btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}
.wrap_pop .wrap_btns .btn {
    width: 228.95px;
    height: 48px;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 48px;
}
.wrap_pop .wrap_btns .btn_cancel {
    background: #FFFFFF;
    border: 1px solid #B5B5B5;
    color: #333333;
}
.wrap_pop .wrap_btns .btn_save {
    margin-left: 12px;
    background: #EB3728;
    border: 1px solid #EB3728;
    color: #fff;
}
.wrap_forty {
    margin-top: 40px;
}
.wrap_main .main .btn_csv_down {
    position: absolute;
    bottom: 30px;
    right: 40px;
}
.wrap_window_table table {
    table-layout: fixed;
    width: 100%;
}
.wrap_window_table table th, .wrap_window_table table td {
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    height: 52px;
}
.wrap_window_table table th {
    border-left: 1px solid #E2E2E2;
}
.wrap_window_table table td {
    border-right: 1px solid #E2E2E2;
}
.wrap_window_table table th {
    padding-left: 24px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #808080;
    background: #FAFAFA;
    text-align: left;
    vertical-align: middle;
}
.wrap_window_table table td {
    padding-left: 24px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    text-align: left;
    vertical-align: middle;
}
.box_window_desc {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.box_window_desc .box_left {
    width: calc(100% - 744px);
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #808080;
    text-align: left;
}
.box_window_desc .box_right {
    width: 744px;
}
.box_window_desc .box_right.sbtween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box_window_desc .box_right.adress {
    display: flex;
    flex-direction: column;
}
.box_window_desc + .box_window_desc {
    margin-top: 28px;
}
.box_selected.bank {
    flex: none;
    width: 272px;
}
.wrap_input.refund {
    flex: none;
    width: 304px;
}
.wrap_input.owner {
    flex: none;
    width: 144px;
}
.box_window_desc .box_adress.btn {
    display: flex;
    justify-content: space-between;
}
.box_adress .wrap_input.num {
    flex: none;
    width: 588px;
}
.box_adress .btn_adress {
    width: 144px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #B5B5B5;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #666666;
}
.box_adress + .box_adress {
    margin-top: 12px;
}
.td_onClick > * {
    cursor: pointer;
}
.box_short_input {
    display: flex;    
}
.box_short_input + .box_short_input {
    margin-top: 28px;
}
.box_short_input.start {
    align-items: start;
}
.box_short_input.sbtween {
    justify-content: space-between;
}
.box_short_input .wrap_col_2 {
    display: flex;
}
.box_short_title {
    width: 188px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #808080;
}
.box_short_input .astrix {
    color: #EB3728;
}
.box_short_cont.long {
    display: flex;
    justify-content: left;
    align-items: center;
    width: calc(100% - 188px);
}
.box_short_cont.long.block {
    display: block;
}
.wrap_input {
    position: relative;
}
.wrap_input.live {
    width: 202px;
}
.wrap_input.default {
    width: 100%;
}
.box_short_cont .text_unit {
    margin-left: 12px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}
.box_short_cont .text_desc {
    margin-left: 24px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #808080;
}
.wrap_select_window.w260, .wrap_input.w260 {
    width: 260px;
}
.wrap_radio_pair label.w130 {
    width: 130px;
}
.box_shortcut_img {
    display: flex;
    position: absolute;
    top: 100px;
}
.box_shortcut_img .wrap_link_img {
    margin-left: 12px;
}
.box_shortcut_img .link_img {
    display: block;
    width: 183px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #B5B5B5;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #666666;
    text-align: center;
}
.box_short_input .box_input_file {
    display: flex;
    justify-content: flex-start;
}
.box_short_input .box_input_file .shortcut_text {
    width: 310px;
    height: 40px;
    padding: 0 14px 0;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #808080;
}
.box_short_input .box_input_file .wrap_input_select {
    position: relative;
    margin-left: 12px;
}
.box_short_input .box_input_file .wrap_input_select input {
    position: absolute;
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
    clip: rect(0,0,0,0);
}
.box_short_input .box_input_file .wrap_input_select .label_shortcut-video {
    display: block;
    width: 91px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #B5B5B5;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #666666;
}
.box_short_input .box_input_file .wrap_info_desc {
    margin-left: 26px;
}
.box_short_input .box_input_file .text_red {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #EB3728;
}
.box_short_input .box_input_file .text_red + .text_red {
    margin-top: 8px;
}